#text-list-files {
    text-align: center; 
    font-size: xx-large; 
    font-family: Arial, Helvetica, sans-serif;
}

.file,
.delete-button {
    font-size: x-large; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none; 
    color: #000;
}

#file {
    font-size: 1.2em;
}

.file a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none; 
    color: #000;
    display: inline;
}

.delete-button  {
    font-size: large;
    background-color: White;
    color: black;
    border: 2px solid darkgray;
    border-radius: 4px;
    padding: 3px
}

.file:hover {
    color: black;
}

.delete-button:hover  {
    color: black;
}

#link_download_zip {
    color: black;
    text-decoration-line: none;
}

#link-main-page {
    text-decoration: none;
}

.forms {
    display: inline-block;  
    margin: 5px
}

.buttonsFromForms {
    font-size: 1.2em;
}